<!-- Header -->
<nav class="navbar navbar-expand-sm navbar-dark sticky-top color-primary">
    <a class="navbar-brand ml-5" href="/"><h2>Manuel Bonano</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul id="nav" class="navbar-nav mx-auto clearfix">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'patios:servicios' %}">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'patios:sobre-mi' %}">Sobre mí</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'patios:galeria' %}">Galería</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
<!-- END Header -->
  