{% extends 'patios\base.html' %}

{% block title %}
    Testimonios
{% endblock title %}

{% block content %}
    <h1 class="text-center mt-5">Testimonios</h1>

    <div class="container minh-96 p-5 text-center">
        <p class="w-50 mx-auto">
            Párrafo. Haz clic para editar y agregar tu propio texto. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. Puedes arrastrar y soltar este texto donde sea que quieras en tu página. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.
        </p>
    </div>
{% endblock content %}